[client]
ssl-ca=/usr/local/share/ca-certificates/internal-ca.crt
ssl-verify-server-cert=1
tls-version=TLSv1.2,TLSv1.3

[mysql]
ssl-ca=/usr/local/share/ca-certificates/internal-ca.crt
ssl-verify-server-cert=1
tls-version=TLSv1.2,TLSv1.3
